body{
    margin:0;
    background-color: #98fb98;
    font-size: 80px;
}

.clear{
    clear: both;
}

.content{
    top: 50%;
    width: 100%;
    height: 500px;
    position: absolute;
    transform: translateY(-50%);
}


.box{
    display: inline-block;
    width: 20%;
    height: 100%;
    margin-left: 4%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.one{
    background-image: url(../img/product-1.jpg);
}

.two{
    background-image: url(../img/product-2.jpg);
}

.three{
    background-image: url(../img/product-3.jpg);
}

.four{
    background-image: url(../img/product-4.jpg);
}

.mask{
    background-color: rgba(255, 111, 0, 0.7);
    opacity: 0;
    height: 100%;
    position: relative;
    transition: ease-in-out 0.5s;
}

.mask:hover{
    opacity: 1;
}

.shopping-box{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    
}

.shopping-box a{
    text-decoration: none;
    color: #fff;
}

